.card-atleta {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #e7f7de;
  max-width: 250px;           
  box-sizing: border-box;    
}

.imagem-atleta {
  width: 100%;                
  height: 150px;              
  object-fit: cover;          
  border-radius: 8px;
}

.card-atleta h2 {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 8px 0;
}

.card-atleta p {
  text-align: justify;
  margin: 4px 0;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #272727;
}

.card-atleta button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #b8babc;
  color: #272727;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-atleta button:hover {
  background-color: #018749;
  color: whitesmoke;
}