* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: #004526;
}

.semResultados {
  background:rgb(235, 234, 234);
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #272727;
  padding: 30px;
  margin: 50px auto;
  max-width: 250px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.semResultados img{
margin-bottom: 13px;
}
.resultados {
  display: flex;              
  flex-wrap: wrap;            
  justify-content: center;    
  gap: 10px;                  
  padding: 5px;              
}

.card-container {
  display: flex;              
  flex-direction: column;     
  align-items: center;        
  width: 100%;                
  max-width: 250px;          
  margin: 10px;              
}

.painel-favoritos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;              
  flex-direction: column;   
  align-items: center;        
  width: 100%;               
  max-width: 250px;           
  margin: 5px;               
}

.banner {
  width: 100%;       
  height: auto;      
  display: block;    
}

.banner img {
  width: 100%;      
  height: auto;    
  display: block;  
}

